.DS_Store
interaction/pkg
interaction/src/github.com/
interaction/src/sourcegraph.com/
/interaction/src/go_web/node_modules
/interaction/src/go_web/uploads
/interaction/src/go_web/go_web.exe
/interaction/src/go_web/config/db_setting.go
/interaction/src/go_test/appmain.exe
/domo/xorm_demo/src/config/db_conf.go
/github.com
/src/domo/xorm_demo/src/config/db_conf.go
/src/xorm_demo/src/config/db_conf.go
/src/interaction/config/db_setting.go
