//整体布局
.main-container {
    min-height: 100%;
    background-color:#545c64;
}

.sidebar-container {
    width: 180px !important;
    height: 100%;
    position: fixed;
    font-size: 0px;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 1001;
    overflow: hidden;
  }